---
title: 'Stefan Langhammer Technologies'
---


<h1> About me </h1>

<h3>Hi, my name is Stefan. </h3>

<p>
Now quit wasting your time and go read any of my pages content, not the bloody about page.
</p>

<p>
Any questions? Mail: webmaster@stlt.de
</p>


<h3>Licence</h3>
<p>
Unless otherwise noted the site content is released under CC BY 4.0<br>
Any source code on this site is released free CC0 license.<br>
</p>