---
title: 'Stefan Langhammer Technologies'
---


<h1> About me </h1>

<h3>Hi, my name is Stefan. </h3>

<p>
There are many websites. But this one is mine. Since 2003 actually. 
</p>

<p>
Any questions? Mail: webmaster<at>url.de
</p>


<h3>Licence</h3>
<p>
Unless otherwise noted the site content is released under CC BY 4.0 and any source code as free CC0 license.<br>
</p>