<!doctype html>
<html>
  <%= partial 'layouts/partial/header' %>

  <body>
    <div class="container">
      <section class="section">
        <%= yield %>
      </section>


      
  </body>
</html>
