<!doctype html>
<html>
  <%= partial 'layouts/partials/header' %>

  <body>
  	<script src="js/lightgallery.min.js"></script>

    <!-- lightgallery plugins -->
    <script src="js/lg-thumbnail.min.js"></script>
    <script src="js/lg-fullscreen.min.js"></script>

    
    <div class="container content">
      <section class="section">
        <%= yield %>
      </section>


      
  </body>
</html>
